
/* ================header====================== */
header .list-items{
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.list-items li a{
    color: #ffffff;
}
header .menu{
    justify-content: space-between;
}

/* ===================section apresentação============ */
.flex-container {
    display: flex;
    flex-wrap: wrap; /* Garante que o conteúdo quebre linhas se necessário */
    gap: 20px; /* Espaçamento entre os itens */
}

.apresentacao {
    width: 100%; /* Para ocupar a largura total */
}

/* Apresentação 1 - Row */
.container-apresentacao1 {
    display: flex;
    flex-direction: row; /* Mantém os itens na mesma linha */
    align-items: center; /* Centraliza verticalmente */
    justify-content: space-between; /* Espaça os elementos */
    gap: 20px; /* Espaçamento entre os itens */
}

.texto-apresentacao {
    flex: 1; /* Ocupa a mesma proporção */
}
.texto-apresentacao h1{
    color: #122a57;
    font-size: 2.4rem;
}
.texto-apresentacao p{
    margin-bottom: 10px;
    font-size: 1rem;
}

.imagem-apresentacao1 img {
    max-width: 100%;
    height: auto; /* Mantém a proporção da imagem */
    flex: 1; /* Ocupa a mesma proporção */
}
.btn{
    background-color: #122a57;
    color: #ffffff;
    text-align: center;
    border-radius: 30px;
    max-width: 200px;
    text-decoration: none;
    display: block;
    height: auto;
    line-height: 50px;
}
/* ============quem somos=================== */
.container-apresentacao2 {
    display: flex;
    flex-direction: row-reverse; /* Inverte a direção dos itens */
    align-items: center; /* Centraliza verticalmente */
    justify-content: space-between; /* Espaça os elementos */
    gap: 20px; /* Espaçamento entre os itens */
}

.texto-quem-somos {
    flex: 1; /* Ocupa a mesma proporção */
    line-height: 25px;
}
.texto-quem-somos h2{
    color: #122a57;
    font-size: 2.4rem;
    margin-bottom: 20px;
}
.texto-quem-somos p{
    margin-bottom: 10px;
    font-size: 1rem;
}

.imagem-apresentacao2 img {
    max-width: 100%;
    height: auto; /* Mantém a proporção da imagem */
    flex: 1; /* Ocupa a mesma proporção */
}

/* ================seviços======================= */
.container_servicos{
    max-width: 100%;
    height: auto;
}
.container-externo{
    background-color: #122a57;
    width: 100%;
    height: auto;
}
#servicos{
    flex-direction: column;
    padding-top: 50px;
}
#servicos h2{
    color: #ffffff;
    font-size: 32px;
    margin-bottom: 20px;
}
.list-servicos{
    display: flex;
    justify-content: space-between;
}
.list-servicos .item-servicos{
    text-align: center;
}
.list-servicos .item-servicos img{
    max-width: 150px;
    height: auto;
}
.item-servicos a{
    width: 220px;
    background-color: #ffffff;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    line-height: 50px;
    padding: 5px 10px;
    text-decoration: none;
    color: #122a57;
    font-size: 12px;
    font-weight: 700;
}
.item-servicos p{
    font-weight: 700;
    font-size: 15px;
    color: #ffffff;
    margin-top: 20px;
}
/* ===============planos================== */
#planos{
    flex-direction: column;
    min-height: 60vh;
}
#planos h2{
    color: #122a57;
    margin-top: 20px;
    font-size: 32px;
}
.list-planos{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.item-planos{
    flex: 1;
    border: 5px solid #122a57;
    margin-right: 20px;
    border-radius: 10px;
    max-width: 240px;
}
.item-planos .btn{
    margin: auto;
    margin-bottom: 20px;
}
.item-planos h3{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #122a57;
    margin-top: 20px;
}
.item-planos h3::after{
    content: "";
    background-color: #122a57;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.item-planos ul{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.item-planos ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.item-planos ul li::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #122a57;
    margin-right: 5px;
}
/* ======================footer============= */
footer .footer{
    color: #ffffff;
    justify-content: space-between;
    align-content: center;
}














